<form action="/register" method="post">
    <label for="Name">ID_name</label>
    <input type="text" name="User id">

    <label for="name">Name</label>
    <input type="text" name="Name">

    <label for="Password">Password</label>
    <input type="password" name="Password">

    <label for="Role">Role</label>
    <input type="text" name="Role">

    <button type="submit">submit</button>

</form>