<table>
    <tr>
      <th>id_name</th>
      <th>name</th>
      <th>Password</th>
      <th>Role</th>
    </tr>


    <% data.forEach(el => { %>
      <tr>
        <th> <%= el.id_name  %></th>
        <th><%= el.name %></th>
        <th><%= el.password %></th>
        <th><%= el.role %></th>
        <th> <a href="">EDIT</a> | <a href="">DELETE</a></th>
      </tr>
   <% }) %>

  </table>